body{
  font-family: 'Raleway', sans-serif;
  max-width: 1920px;
  overflow-x: hidden;
}

h2{
  color: white;
}

nav{
  font-family: 'Fira Sans', sans-serif;
}

.App{
  width: 100vw;
}

.header-background{
  background-image: url('./imgs/headerbg.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
}

.header-container{
  padding-top: 2em;
}

.header-text{
  text-align: left;
  color: white;
  margin: auto;
}

.main-team-background{
  background-color: #191614;
  padding: 2em;
}

.main-team-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main-team-card{
  margin: 1em;
}

.main-artifact-background{
  background-image: url('./imgs/MysticalForest.jpg');
  background-position: center; 
  background-size: cover;
}

.main-artifact-background-overlay{
  background-color: rgba(0,0,0,0.6);
  padding: 2em;
}

.main-artifact-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main-artifact-card{
  margin: 1em;
}

.character-list-background{
  background-color: #191614;
  padding-bottom: 2.5rem;
}

.fade-enter{
  opacity: 0.01;
}

  .fade-enter-active{
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }
  .fade-exit{
    opacity: 1;
  }
  .fade-exit-active{
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
  }

#levelInput{
  margin-top: 1rem;
}

#powerInput{
  margin-top: 1rem;
}



