.App{
  width: 100vw;
}

.header-background{
  background-image: url('./imgs/headerbg.jpg');
  background-repeat: no-repeat;
  background-position: center; 
}

.header-container{
  padding-top: 2em;
}

.header-text{
  text-align: left;
  color: white;
  margin: auto;
}

.fade-enter{
  opacity: 0.01;
}

  .fade-enter-active{
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }
  .fade-exit{
    opacity: 1;
  }
  .fade-exit-active{
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
  }

#nameInput{

}

#levelInput{
  margin-top: 1rem;
}

#powerInput{
  margin-top: 1rem;
}